[project]
	description = This repository is used for storing the sample code developed for IBM Redpaper 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prasad Joshi (prasadjoshi123)
[access "refs/for/refs/*"]
	read = group user/Prasad Joshi (prasadjoshi123)
	push = group user/Prasad Joshi (prasadjoshi123)
	label-Code-Review = -2..+2 group user/Prasad Joshi (prasadjoshi123)
	label-Verified = -1..+1 group user/Prasad Joshi (prasadjoshi123)
	rebase = group user/Prasad Joshi (prasadjoshi123)
	removeReviewer = group user/Prasad Joshi (prasadjoshi123)
	submit = group user/Prasad Joshi (prasadjoshi123)
[access "refs/heads/*"]
	read = group user/Prasad Joshi (prasadjoshi123)
	create = group user/Prasad Joshi (prasadjoshi123)
	push = +force group user/Prasad Joshi (prasadjoshi123)
	pushMerge = group user/Prasad Joshi (prasadjoshi123)
[access "refs/tags/*"]
	push = +force group user/Prasad Joshi (prasadjoshi123)
	pushTag = group user/Prasad Joshi (prasadjoshi123)
	pushSignedTag = group user/Prasad Joshi (prasadjoshi123)
